<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
    <div class="wrap">
    <div class="redirect_note">
    	<p>Diese Seite dient nur noch der Historie. Sie werden nach 5 Sekunden automatisch auf die aktuelle Seite weitergeleitet. Sollte dies nicht passieren, bitte <a href="http://codefor.de/paderborn/">hier</a> klicken.</p>
    </div>
    {{ content }}
    </div>
    </div>

    {% include footer.html %}

    </body>
</html>
